* {
   font-family: 'Urbanist', sans-serif;
}
/* 22383A */
body{
   background-color: #22383A; 
   color: #EBEBEB;
   width: 100%;
   margin: 0;
}
.center{

   display: flex;
   justify-content: center;
}
.inputs{
   max-width: 200px;
   margin: 0 auto;
}
.search-bar__input{
   height: 25px;
}
img{
   width: 30px;
   border-radius: 50%;
   background-color: white;
}
.cryptoTable{
display: none;
}
#table{
   overflow-x: auto;
/* white-space: nowrap; */
}
.dataCell{
   min-width: 100px;
}
td, th{
   text-align: center;
   padding: 5px;
   border-bottom: 1px solid #59C3C3;
}
table{
   /* margin: 10px auto; */
   margin: 20px;
}
.cryptoRow{
   max-width: 100px;
}
tr,th,
.tableCell{
   width:40px;
   height: 40px;
   border-bottom: 1px solid black;
}
thead{
   border: yellow 2px solid;
}
.dropDown {
   min-height: 25px;
   display: flex;
   background: white;
   color: black;
   padding: 9px;
   align-items: center;
   max-width: 200px;
   border-bottom: 1px solid lightgray;
   cursor: pointer;

}
#match-list{
   max-width: 200px;
   margin: 1px auto;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
.dropImg{
   margin-right: 10px;
}